<div class="tree-view">
    <ul class="fa-ul">
        <li ng-repeat="node in getRootNodes()" ng-include="'tree_item_renderer.html'"></li>
    </ul>
</div>

<script type="text/ng-template" id="tree_item_renderer.html">
    
    <i class="fa-li fa expander" ng-class="getNodeIcon(node)" ng-click="node.isExpanded = !node.isExpanded"></i> <span class="tree-view-checkbox-and-node"><i class="fa" ng-show="areCheckboxesDisplayed === true" ng-class="getCheckboxIcon(node)" ng-click="toggleCheckbox(node)"></i>&nbsp;&nbsp;<span class="display-text" ng-click="selectNode(node)" ng-class="{ 'selected': !areCheckboxesDisplayed && node.isSelected }">{{node.displayText}}</span></span>
    <ul class="fa-ul" ng-show="typeof(node.isExpanded) !== 'undefined' && node.isExpanded">
        <li ng-repeat="node in getChildNodes(node)" ng-include="'tree_item_renderer.html'"></li>
    </ul>
</script>