.tree-view {
    overflow: auto;
}

.tree-view li {
    list-style-type: none;
    padding-left: 5px;
    cursor: pointer;
    color: gray;
}

.tree-view i {
    padding: 1px;
}

.tree-view .expander:hover {
    color: black;
}

.tree-view .tree-view-checkbox-and-node:hover {
    color: black;
}

.tree-view .display-text:hover {
    color: black;
}

.tree-view .display-text {
    display: inline-block;
    padding: 1px 5px;
    border: 1px solid white;
}

.tree-view .display-text.selected {
    background-color: #E3FAFF;
    border: 1px solid #CCE1E6;
    border-radius: 5px;
}

.tree-view .display-text {
    margin-left: -9px;
}

.tree-view ul ul {
    margin-left: 10px;
}