<div class="tree-view">
    <ul class="fa-ul">
        <li ng-repeat="node in treeData"><gg-tree-view-node node="node"></gg-tree-view-node></li>
    </ul>
</div>


<!--<div class="treeView">-->
<!--    <ul class="fa-ul">-->
<!--        <li ng-repeat="node in treeData" ng-include="'tree_item_renderer.html'"></li>-->
<!--    </ul>-->
<!--</div>-->

<!--<script type="text/ng-template"  id="tree_item_renderer.html">-->
<!--    <i class="fa-li fa fa-caret-down"></i> {{node.displayText}}-->
<!--    <ul class="fa-ul">-->
<!--        <li ng-repeat="node in node.childNodes" ng-include="'tree_item_renderer.html'"></li>-->
<!--    </ul>-->
<!--</script>-->